<head>
    <script src="../services/authService.js" defer></script>
</head>
<div class="login-container">
    <h2>Ent'artes - Login</h2>
    <form id="loginForm">
        <div class="input-group">
            <label>Utilizador</label>
            <input type="text" id="username" required placeholder="Digite o seu username">
        </div>
        <div class="input-group">
            <label>Password</label>
            <input type="password" id="password" required placeholder="Digite a sua password">
        </div>
        <button type="submit" id="btnLogin">Entrar</button>
        <p id="errorMessage" style="color: red; display: none;">Credenciais inválidas!</p>
    </form>
</div>